@tailwind base;
@tailwind components;
@tailwind utilities;
.slider {
  z-index: -1 !important;
  border: 1px solid forestgreen;
  position: relative;
}
.swiper .swiper-initialized {
  z-index: -1;
}
<<<<<<< HEAD
=======

/* TODO: ACTIVE NAV LINKS STYLE  */
.active {
  @apply py-1 rounded-md block w-full bg-zinc-800 shadow-sm hover:bg-zinc-600;
}
.pending {
  @apply py-1 rounded-md block w-full bg-zinc-500 shadow-sm hover:bg-zinc-600 transition overflow-hidden;
}
>>>>>>> 691dfebce376a02b08f0e668c045badee015bc1f
